/* :: ksg_20200711_1631 open : 벤치마크 스타일 그룹 */

html {
	/* overflow: auto; */
}
body {
    position : relative;
}
/* body:before {
    content : "";
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 36px;
    background-color : #000;
}
body:after {
    content : "";
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 244px;
    background-color : #000;
    z-index : -1;
} */
.container {
	/* max-width: 1920px;
    min-width : 1180px; */
	height : auto;
	margin: 0 auto;
	position: relative;
	/* overflow-y : auto; */
	padding: 0;
}

.overlay:before {
	content : "";
	position : absolute;
	top : 0;
	left : 0;
	width : calc(100% + 70px);
	height : 100%;
	background-color : rgba(0, 0, 0, 0.4);
	z-index : 100;
}

/* .contents.overlay:before {
	left : -370px;
	width : 1920px;
} */
header.mobileViewGroup {
	display : none;
}

/* :: ksg_20200711_1631 close : 벤치마크 스타일 그룹 */


/* :: ksg_20200711_1632 open : 정보입력 페이지 파트 */
header {
    display : block;
    /* width : 100%; */
    width : calc(100% - 20px);
    padding : 0 10px;
	height : 36px;
    line-height : 36px;
    text-align : center;
    background-color : #1d39b2;
}
.headerCon {
    display : block;
    position : relative;
    max-width : 1240px;
    width : 100%;
    margin : 0 auto;
}




.contents {
    display : block;
    position : relative;
    width : 100%;
    width : calc(100% - 20px);
    padding : 0 10px;
    max-width : 1240px;
    min-height : 930px;
    margin : 0 auto;
}




/* .headerCon .btnGroup.rSideSort {
    width : 100%;
} */
.btnGroup {
    display : inline-block;
}
.btnGroup.rSideSort {
    /* width : 100%; */
    /* text-align : right; */
    position : absolute;
    right : 0;
}
.headerCon .tOnlyBtn {
    display : inline-block;
    font-size : 12px;
    color : #fff;
    margin-left : 30px;
}
.headerCon .tOnlyBtn:first-child {
    margin-left : 0;
}
.pageTop {
    display : block;
    max-width : 1240px;
    /* width : 100%; */
    width : calc(100% - 20px);
    padding : 0 10px;
    height : 100px;
    line-height : 100px;
    margin : 0 auto;
    position : relative;
    border-bottom : 1px solid #eaeaea;
}
.pageTop .btnGroup.rSideSort {
    right : 10px;
}
.pageTop .logoBox {
    display : inline-block;
}
.topMainGroup {
    display : inline-block;
    margin-left : 40px;
}
.btnGroup.topMainSort .textBtn {
    font-size : 18px;
    font-weight : 600;
    margin-left : 30px;
}
.btnGroup.topMainSort .textBtn:first-child {
    margin-left : 0;
}
.topMainGroup .iconBtn {
    vertical-align : middle;
    margin-left : 30px;
}
.topMainGroup .iconBtn:first-child {
    margin-left : 0;
}
.topSearchGroup {
    position : relative;
    width : 100%;
    margin-top : 25px;
    font-size : 0;
}
.topSearchGroup * {
    vertical-align : middle;
}
.topSearchGroup .txtLiner {
    display : inline-block;
    font-size : 18px;
    font-weight : 600;
}
.topSearchGroup .txtLiner.priceSort {
    color : #1d39b2;
    font-weight : 600;
    margin-left : 20px;
}
.topSearchGroup .sboxGroup {
    display : inline-block;
    margin-left : 40px;
    margin-right : 30px;
}
.topSearchGroup .sboxGroup .sbox {
    margin-left : 10px;
}
.topSearchGroup .sboxGroup .sbox:first-child {
    margin-left : 0;
}
.bgBtn {
    background-color : #1d39b2;
    color : #fff;
    font-weight : 600;
    font-size : 14px;
    text-align : center;
    display : inline-block;
}
.topSearchGroup .bgBtn.nomSort {
    position : absolute;
    right : 0;
    top : 50%;
    transform : translateY(-50%);
    -webkit-transform : translateY(-50%);
}
.bgBtn.nomSort {
    width : 190px;
    height : 48px;
    line-height : 48px;
    font-size : 18px;
}
.sbox.nomSort {
    width : 225px;
}
.icBtn.rtFloat {
    position : fixed;
    right : 10px;
    bottom : 90px;
    width : 80px;
    height : 80px;
    background : url('/sellPhone/common/img/floatBtn.png') no-repeat center / cover;
}
@media(min-width : 1525px){
    .icBtn.rtFloat {
        position : absolute;
        right : -130px;
    }
}

.mainCon {
    position : relative;
    width : 100%;
    /* margin-bottom : 90px; */
}
.mainCon.userRegSort {
    margin-top : 70px;
    padding-bottom : 90px;
}
.rtSection {
    width : calc(100% - 280px);
    max-width : 680px;
    padding-left : 280px;
}
.lfFloat {
    position : absolute;
    left : 0;
}
.titleBox {
    font-weight : 800;
}
.lfFloat .titleBox {
    font-size : 20px;
}
.lfFloat .menuGroup {
    margin-top : 40px;
}
.lfFloat .menuGroup li {
    font-size : 16px;
    margin-top : 14px;
}
.lfFloat .menuGroup li:first-child {
    margin-top : 0;
}
.lfFloat .menuGroup li .tOnlyBtn {
    display : block;
    border-left : 2px solid #e5e5e5;
    padding-left : 20px;
    line-height : 36px;
}
.lfFloat .menuGroup li .tOnlyBtn.activated {
    border-left : 2px solid #000;
}
.titleBox.sectSort {
    font-size : 28px;
    margin-bottom : 48px;
}
.tbox {
    height : 48px;
    padding : 0 16px;
    width : calc(100% - 32px);
    font-size : 16px;
    border-bottom : 1px solid #efefef;
}

.regGroup.joinSort .tBoxGroup {
    margin-top : 16px;
}
.regGroup.joinSort .tBoxGroup:first-child {
    margin-top : 0;
}
.tBoxGroup.btnMixSort {
    font-size : 0;
    position : relative;
}
.tBoxGroup.btnMixSort .tbox {
    width : calc(100% - 150px);
    padding-right : 134px;
}
.tBoxGroup.btnMixSort .bgBtn {
    position : absolute;
    right : 0;
    bottom : 10px;
    width : 70px;
    height : 30px;
    line-height : 30px;
}
.regGroup.joinSort {
    margin-bottom : 90px;
}
.btnGroup.regBotSort .bgBtn {
    height : 50px;
    line-height : 50px;
    width : 180px;
    font-size : 18px;
}
.pageBot {
    border-top : 1px solid #eee;
    width : 100%; 
}
.pageBot .ntList {
    position : relative;
    max-width : 510px;
    width : 100%;
    margin : 0 auto;
    font-size : 0;
    padding : 25px 0;
}
.pageBot .ntList * {
    display : inline-block;
    vertical-align : middle;
}
.pageBot .ntList .titleBox {
    width : 99px;
    font-size : 18px;
    color : #1d39b2;
}
.pageBot .ntList .infoBox {
    width : 367px;
    font-size : 12px;
}
.ntList .moreBtn {
    font-size : 14px;
    color : #1d39b2;
}
footer {
    background-color : #000;
    color : #fff;
}
.footerCon {
    max-width : 1240px;
    width: calc(100% - 20px);
    padding: 60px 10px 35px 10px;
    margin: 0 auto;
}
.footerCon .upperGroup {
    display : block;
    padding-bottom : 30px;
    border-bottom : 1px solid #eee;
    font-size : 0;
}
.btnGroup.ftSort {
    display : inline-block;
    vertical-align : bottom;
    width : calc(100% - 115px);
    font-size : 0;
    text-align : right;
}
.btnGroup.ftSort .tOnlyBtn {
    padding : 0 14px;
    font-size: 12px;
    border-left : 1px solid #fff;
    line-height : 20px;
}
.btnGroup.ftSort .tOnlyBtn:first-child {
    padding-left : 0;
    border-left : none;
}
.btnGroup.ftSort .tOnlyBtn:last-child {
    padding-right : 0;
}
.footerCon .lowerGroup {
    position : relative;
    padding-top : 30px;
    font-size : 0;
}
.footerCon .lowerGroup .leftGroup,
.footerCon .lowerGroup .rightGroup {
    display : inline-block;
    width : 50%;
    vertical-align : top;
}
.footerCon .lowerGroup .titleBox {
    font-size : 20px;
    font-weight : 400;
}
.footerCon .lowerGroup .infoBox {
    margin-top : 20px;
    font-size : 12px;
    line-height : 20px;
}
.vertCell {
    letter-spacing : -3px;  
}
.footerCon .lowerGroup .rightGroup {
    width : 50%;
}
.footerCon .lowerGroup .rightGroup .titleBox {
    text-align : right;
    padding-top : 15px;
}
.footerCon .lowerGroup .rightGroup .titleBox:first-child {
    padding-top : 0;
}
.tipBox {
    padding : 18px 0 18px 16px;
    font-size : 12px;
}
.tipBox.redSort {
    color : #ff5850;
}
.tipBox.blackSort {
    color : #000;
}
.tipBox.tCount {
    position : absolute;
    top : 0;
    right : 100px;
    font-size : 14px;

}
/* :: ksg_20200711_1632 close : 정보입력 페이지 파트 */




/* :: ksg_20200713_1730 open : 중고장터 메인 페이지 파트 */
.bannerGroup.pgTopSort {
    margin-top : 60px;
}
.bannerGroup.pgTopSort .bannerBtn {
    width : 100%;
    height : auto;
}
.bannerGroup.pgTopSort .bannerBtn img {
    width : 100%;
}
.openerGroup.listOpenSort {
    margin : 60px 0;
}
.openerGroup .tOnlyBtn {
    display : block;
    font-size : 16px;
    position : relative;
    width : 120px;
    margin : 0 auto;
}
.openerGroup .tOnlyBtn:before {
    content : "";
    position : absolute;
    right : 0;
    width : 12px;
    height : 16px;
    background : url('/sellPhone/common/img/arrow_down.png') no-repeat center / 12px 6px;
}
.listTopGroup {
    height : 44px;
    line-height : 44px;
    font-size : 0;
    margin-bottom : 100px;
}
.listTopGroup .tabBtnGroup {
    display : inline-block;
    width : calc(100% - 165px);
}
.listTopGroup .tabBtnGroup .tOnlyBtn {
    font-size : 14px;
    margin-left : 25px;
}
.listTopGroup .tabBtnGroup .tOnlyBtn:first-child {
    margin-left : 0;
}
.tabBtnGroup .tOnlyBtn.activated {
    color : #1d39b2;
}
.bgBtn.filterSort {
    position : relative;
    width : 135px;
    /* height : 44px;
    line-height : 44px; */
    border-radius : 22px;
    padding-left : 30px;
    background-color : #000;
}
.bgBtn.filterSort:before {
    content : "";
    position : absolute;
    top : 0;
    left : 40px;
    width : 20px;
    height : 44px;
    background : url('/sellPhone/common/img/icon_adjust.png') no-repeat center / 20px 15px;
}
.goodsList {
    font-size : 0;
}
.goodsList li {
    display : inline-block;
    width : calc(25% - 17px);
    margin-left : 20px;
    border : solid 1px #f7f5f5;
    vertical-align : top;
}
.goodsList li:first-child {
    margin-left : 0;
}
.goodsList li:nth-child(5n) {
    margin-left : 0;
}
.goodsList li:nth-child(n+5) {
    margin-top : 20px;
}
.goodsList li .gdImgBox img {
    width : 100%;
    height : 100%;
}
.goodsList li .infoGroup {
    border-top : 1px solid #f7f5f5;
    text-align : center;
    padding : 38px 0;
}
li .infoGroup .gdNameBox {
    font-size : 14px;
}
li .infoGroup .prcBox {
    font-size : 20px;
    line-height : 29px;
    margin-top : 10px;
}
.btnGroup.moreShowSort {
    display : block;
    margin-top : 60px;
    text-align : center;
}
.btnGroup.moreShowSort .tOnlyBtn {
    display : inline-block;
    position : relative;
    font-size : 16px;
    padding-top : 26px;
}
.btnGroup.moreShowSort .tOnlyBtn:before {
    content : "";
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 16px;
    background : url('/sellPhone/common/img/icon_more.png') no-repeat center / 16px 16px;
}
.mainCon.listSort {
    padding-bottom : 165px;
}
/* :: ksg_20200713_1730 close : 중고장터 메인 페이지 파트 */

/* :: ksg_20200714_1332 open : 커뮤니티(이용후기) 페이지 파트 */
.moveToPGtab {
    display : block;
    width : 100%;
    margin-top : 65px;
    margin-bottom : 70px;
    font-size : 0;
    text-align : center;
}
.moveToPGtab .tOnlyBtn {
    display : inline-block;
    width : 25%;
    font-size : 18px;
    /* font-weight : 600; */
    text-align : center;
    padding : 15px 0;
    border-bottom : 1px solid #ddd;
}
.moveToPGtab .tOnlyBtn.activated {
    border-bottom : 1px solid #000;
    font-weight : 800;
    color : #000;
}
.rtSection.commSort {
    max-width : 100%;
}
.lfFloat .menuGroup.commSort {
    margin-top : 50px;
}
.lfFloat .menuGroup.commSort li .tOnlyBtn {
    padding-left : 0;
    border-left : none;
    line-height : 1;
    color : #888;
}
.lfFloat .menuGroup.commSort li .tOnlyBtn.activated {
    color : #000;
}
.lfFloat .menuGroup.commSort li {
    margin-top : 30px;
}
.listTopGroup.schSort {
    margin-bottom : 60px;
    height : auto;
    line-height : 1;
}
.listTopGroup.schSort .tboxGroup {
    display : block;
    position : relative;
    width : 100%;
    text-align : right;
}
.listTopGroup.schSort .tboxGroup .tbox {
    width : 504px;
    padding-right : 54px;
    text-align : center;
}
.commList {
    font-size : 0;
}
.commList li {
    display: inline-block;
    width: calc(25% - 5px);
    margin-left: 6px;
    vertical-align: top;
    background-color : #f7f7f7;
}   
.commList li:first-child {
    margin-left: 0;
}
.commList li:nth-child(n+5) {
    margin-top : 20px;
}
.commList li:nth-child(5n) {
    margin-left : 0;
}
.revMainImg img {
    width : 100%;
}
.commList .infoGroup {
    padding : 15px 12px;
}
.commList .infoGroup.cdBoxSort .titleBox {
    display: -webkit-box;
    font-size : 14px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom : 9px;
    height : 14px;
}
.commList .infoGroup.cdBoxSort .infoBox {
    display: -webkit-box;
    font-size : 12px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom : 12px;
    height : 60px;
    line-height : 20px;
}
.bdBtn {
    display : inline-block;
    border : 1px solid #000;
    font-size : 12px;
    text-align : center;
}
.btnGroup.cdBoxR {
    display : block;
    text-align : right;
}
.commList .btnGroup.cdBoxR .bdBtn  {
    height : 30px;
    line-height : 30px;
    padding : 0 14px;
    background-color : #fff;
}
/* :: ksg_20200714_1332 close : 커뮤니티(이용후기) 페이지 파트 */


/* :: ksg_20200714_2233 open :  커뮤니티(언론칭찬) 페이지 파트 */
.commList .infoGroup.cdBoxSort .infoBox.noTitSort {
    font-size : 14px;
    -webkit-line-clamp: 2;
    height : 40px;
}
.dateBox.cdBoxSort {
    font-size : 12px;
}
/* :: ksg_20200714_2233 close :  커뮤니티(언론칭찬) 페이지 파트 */


/* :: ksg_20200714_2250 open : 내폰팔기 메인 페이지 파트 */
.pgTopTitGroup {
    display : block;
    padding : 60px 0;
    text-align : center;
}
.pgTopTitGroup .mainTitle {
    font-size : 30px;
    font-weight : 800;
}
.pgTopTitGroup .subTitle {
    font-size : 14px;
    padding-top : 20px;
    color : #a0a0a0;
}
.temporalBannerArea {
    display : inline-block;
    background-color : #ccc;
    width : 65.5%;
    max-width : 800px;
    height : 400px;
    margin-right : 20px;
    vertical-align : top;
}
.purcStatus {
    display : inline-block;
    width : calc(34.5% - 20px);
    max-width : 420px;
    height : 400px;
    font-size : 14px;
    vertical-align : top;
    border : 1px solid #eaeaea;

}
.bannerGroup.withTable {
    font-size : 0;
}
.purcStatus thead {
    border-bottom : 1px solid #eaeaea;
}
.purcStatus thead td {
    padding : 20px 28px;
}
.purcStatus thead .topTitle {
    color : #1d39b2;
    font-size : 18px;
    text-align : left;
}
.purcStatus thead .topMoreBox {
    text-align : right;
}
.purcStatus thead .topMoreBox .tOnlyBtn {
    color : #1d39b2;
    font-size : 14px;
}
.purcStatus tbody td {
    padding : 17px 28px;
    font-size : 14px;
}
.purcStatus tbody tr {
    border-bottom : 1px solid #eaeaea;
}
.purStatus.done {
    color : #1d39b2;
}
.imgFaqGroup {
    display : block;
    padding : 134px 0;
    font-size : 0;
}
.imgFaqGroup .faqBox {
    display : inline-block;
    width : calc(25% - 12px);
    text-align : center;
    position : relative;
    margin-left : 16px;
}
.imgFaqGroup .faqBox:first-child {
    margin-left : 0;
}
.imgFaqGroup .faqBox .backImg {
    width : 100%;
}
.imgFaqGroup .faqBox  .underBtn {
    display : block;
    width : 67px;
    margin : 2px auto 0 auto;
}
.imgFaqGroup .faqBox .infoGroup {
    display : block;
    position : absolute;
    top : 185px;
    left : 50%;
    transform : translateX(-50%);
    -webkit-transform : translateX(-50%);
    width : 100%;
}
.imgFaqGroup .faqBox .infoGroup .titleBox {
    font-size : 25px;
    font-weight : 800;
    color : #fff;
}
.faqBox .toSpecSort {
    display : block;
    margin-top : 22px;
    font-size : 14px;
}
/* :: ksg_20200714_2250 close : 내폰팔기 메인 페이지 파트 */


/* :: ksg_20200716_1448 open : 기업전용코너(이용후기) 페이지 파트 */


.infoGroup.corpOnlyTop {
    font-size : 0;
    padding-bottom : 10px;
}

.infoGroup.corpOnlyTop li {
    display : inline-block;
    position : relative;
    width : calc(25% - 9px);
    height : 158px;
    padding : 36px 0;
    margin-left : 9px;
    border : 1px solid #000000;
    text-align : center;
    vertical-align : top;
}
.infoGroup.corpOnlyTop li img {
    width : 56px;
}
.infoGroup.corpOnlyTop li:first-child {
    margin-left : 0;
}
.infoGroup.corpOnlyTop .titleBox {
    display : block;
    font-size : 24px;
    padding-top : 29px;
}
.infoGroup.corpOnlyTop .phNumBox {
    display : block;
    font-size : 24px;
    font-weight : 600;
    padding-top : 17px;
}
li .cdCover {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}
.moveToPGtab.coOnlySort {
    margin-bottom : 60px;
}
.moveToPGtab.coOnlySort .tOnlyBtn {
    width : 16.5%;
}
/* :: ksg_20200716_1448 close : 기업전용코너(이용후기) 페이지 파트 */


/* :: ksg_20200716_1540 open : 기업전용코너 페이지 파트 */

.mainCon.onlyImgSort {
    padding-bottom : 0;
    text-align : center;
}
.mainCon.onlyImgSort img {
    width : 100%;
}

/* :: ksg_20200716_1540 close : 기업전용코너 페이지 파트 */



/* :: ksg_20200716_1607 open : 중고장터 마이페이지(판매물품) 페이지 파트 */


.moveToPGtab.sndMySort .tOnlyBtn {
    width : 20%;
}
.listTopCounter {
    display : block;
    padding : 60px 0 30px 0;
    border-top : 2px solid #000;
    font-size : 0;
}
.listTopCounter .titleBox {
    font-size : 16px;
    font-weight : 400;
}
.listTopCounter .countNum {
    font-size : 16px;
    font-weight : 600;
    padding-left : 30px;
}
.listTopGroup.schSort.periodSort {
    display : block;
    background-color : #fafafa;
    margin-bottom : 40px;
    padding : 30px 30px 22px 30px;
}
.calendarGroup {
    vertical-align : middle;
}
.calendarGroup * {
    vertical-align : middle;
}
.calendarGroup .datePickGroup {
    display : inline-block;
    position : relative;
}
.calendarGroup .datePickGroup .tbox.dateBox {
    width : 90px;
    height : 40px;
    padding : 0 60px 0 20px;
}
.calendarGroup span {
    padding : 0 20px;
    font-size : 18px;
}
.calendarGroup .bgBtn.searchSort {
    margin-left : 20px;
    line-height : 40px;
    width : 120px;
    text-align : center;
    font-size : 18px;
}
.monthSelGroup {
    display : block;
    padding-bottom : 10px;
}
.monthSelGroup .bgBtn {
    width : 130px;
    line-height : 48px;
    font-size : 18px;
    color : #a0a0a0;
    background-color : #fafafa;
    font-weight : 400;
}
.monthSelGroup .bgBtn.activated {
    color : #000;
    background-color : #fff;
    font-weight : 800;
}
.goodsList.withStatSort li {
    width : calc(25% - 9px);
    margin-left : 9px;
}
.goodsList.withStatSort li:first-child {
    margin-left : 0;
}
.goodsList.withStatSort li:nth-child(5n) {
    margin-left: 0;
}
.goodsList.withStatSort li .infoGroup {
    padding : 30px 0 22px 0;
}
.goodsList.withStatSort li .infoGroup .prcBox {
    font-size : 24px;
    line-height : 27px;
    font-weight : 800;
}
.gdImgBox {
    position : relative;
}
.gdImgBox .cdBoxStat {
    position : absolute;
    top : 12px;
    left : 12px;
    font-size : 12px;
    color : #fff;
    width : 70px;
    line-height : 30px;
    text-align : center;
}
.gdImgBox .cdBoxStat.doneSort {
    background-color : #1d39b2;
}
.gdImgBox .cdBoxStat.onSellSort {
    background-color : #ff5850;
}
.gdImgBox .cdBoxStat.refundSort {
    background-color : #000;
}
.gdImgBox .cdBoxStat.returnSort {
    background-color : #000;
}
.userCardGroup {
    padding : 60px 0 20px 0;
    font-size : 0;
}
.userCardGroup .userCardBox {
    display : inline-block;
    width : 310px;
    padding : 35px 0 30px 0;
    text-align : center;
    font-size : 0;
    background-color : #fafafa;
    vertical-align : top;
}
.userCardGroup .specInfoBox {
    display : inline-block;
    width : calc(100% - 360px);
    padding-left : 50px;
    vertical-align : top;
}
.userCardBox .userImgBox {
    display : block;
    width : 100px;
    height : 100px;
    border-radius : 50%;
    border : 1px solid #eaeaea;
    background-color : #fff;
    margin : 0 auto;
}
.userCardBox .nameTitle {
    display : block;
    margin-top : 34px;
    font-size : 25px;
    text-align : center;
}
.userCardBox .ratingGroup {
    margin : 15px 0;
    text-align : center;
}
.ratingGroup .rStarIcon {
    margin-left : 1px;
}
.ratingGroup .rStarIcon:first-child {
    margin-left : 0;
}
.userCardBox .bdBtn {
    width : 110px;
    line-height : 34px;
}
.userCardGroup .specInfoBox .upperGroup {
    padding : 30px 0;
    border-bottom : 2px solid #000;
}
.userCardGroup .specInfoBox .titleBox {
    font-size : 25px;
    padding-bottom : 20px;
}
.userCardGroup .specInfoBox .infoBox {
    font-size : 14px;
}
.userCardGroup .specInfoBox .lowerGroup {
    position : relative;
    padding : 25px 0;
}
.userCardGroup .specInfoBox .lowerGroup .bdBtn {
    position : absolute;
    top : 25px;
    right : 0;
    width : 110px;
    line-height : 34px;
}
/* :: ksg_20200716_1607 close : 중고장터 마이페이지(판매물품) 페이지 파트 */


/* :: ksg_20200716_2121 open : 중고장터 마이페이지(구매물품) 페이지 파트 */
.toggleListGroup {
    border-top : 2px solid #000;
    border-bottom : 2px solid #000;
}


/* :: ksg_20200719_1913 open : because : 상하 패딩은 li 태그에 넣으면 안될 것 같아 제거함.  */
/* .toggleListGroup li.fstLayer {
    padding-top : 30px;
} */
/* :: ksg_20200719_1913 close  */



/* ksg_20200719_1914 open : because : 상하 패딩을 여기에 적용시켜야 할 것 같아 아래에서 새로 작성함. */
/* .liMConGroup {
    position : relative;
    padding : 0 40px;
} */
/* .liMConGroup .bdBtn {
    position : absolute;
    top : 30px;
    right : 40px;
    width : 88px;
    line-height : 34px;
} */
/* ksg_20200719_1914 close */

.liMConGroup {
    position : relative;
    padding : 30px 40px 0 40px;
}
.liMConGroup .bdBtn {
    position : absolute;
    top : 60px;
    right : 40px;
    width : 88px;
    line-height : 34px;
}


.liMConGroup .purchImg {
    width : 120px;
    height : 120px;
}
.listDateGroup {
    float : right;
    font-size : 12px;
}

.listDateGroup .userNameBox {
    padding-right : 30px;
}
.listDateGroup .listDateBox {
    color : #a1a1a1;
}
.liMConGroup .infoGroup {
    padding : 23px 0 21px 0;
    font-size : 12px;
}
.liMConGroup .infoGroup * {
    vertical-align : middle;
}
.liMConGroup .infoGroup .bulkHead {
    padding-left : 30px;
    margin-left : 30px;
    border-left : 1px solid #ccc;
}
.liTogGroup {
    /* display : none; */
    position : relative;
    background-color : #f8f8f8;
    padding : 30px 40px;
}
.liTogGroup pre {
    font-size : 14px;
    line-height : 20px;
}
.liTogGroup .bdBtn {
    position : absolute;
    top : 30px;
    right : 40px;
    width : 67px;
    line-height : 34px;
    background-color : #fff;
}
.commentGroup.inListSort {
    margin-top : 30px;
}
.commentGroup.inListSort .commMainInfo {
    border-top : 1px dotted #ddd;
    border-bottom : 1px dotted #ddd;
    padding : 30px 60px;
    font-size : 0;
}
.commMainInfo .commDivision {
    display : inline-block;
    width : 126px;
    font-size : 14px;
    color : #1d39b2;
    font-weight : 600;
    text-align : left;
    vertical-align : top;
}
.commMainInfo .commInfoLiner {
    display : inline-block;
    width : calc(100% - 176px);
    padding-left : 50px;
    font-size : 14px;
    vertical-align : top;
}
.commentGroup.inListSort .commAddGroup {
    background-color : #fcfcfc;
    padding : 30px 50px 30px 60px;
}
/* :: ksg_20200716_2121 close : 중고장터 마이페이지(구매물품) 페이지 파트 */


/* :: ksg_20200717_2156 open : 커뮤니티(공지사항) 페이지 파트 */

.toggleListGroup.noticeSort li.fstLayer {
    border-top : 1px solid #dedede;
}


/* :: ksg_20200719_1917 open : because : li 태그에서 상하 패딩 제거하는 과정에서, 그와 연관된 내용으로써 아래에서 수정함.  */
/* .toggleListGroup.noticeSort .liMConGroup {
    padding : 0 22px 30px 22px;
} */
/* :: ksg_20200719_1917 close */
.toggleListGroup.noticeSort .liMConGroup {
    padding : 30px 22px 30px 22px;
}

.noticeTitleGroup .titleLayer {
    display : block;
    line-height : 24px;
    font-size : 0;
    padding-top : 20px;
}
.noticeTitleGroup .titleLayer:first-child {
    padding-top : 0;
}
.titleLayer .leftTitle {
    display : inline-block;
    width : 177px;
    font-size : 14px;
    vertical-align : middle;
    color : #888888;
}
.titleLayer .rightMainTitle {
    display : inline-block;
    font-size : 14px;
    font-weight : 800;
    width : calc(100% - 177px);
    vertical-align : middle;
}

/* :: ksg_20200719_1919 open : because : li 태그에서 상하 패딩 제거하는 과정 중, 연관된 내용이므로 아래에서 수정. */
/* .toggleListGroup.noticeSort .liMConGroup .bdBtn {
    top : 0;
} */
/* :: ksg_20200719_1919 close */
.toggleListGroup.noticeSort .liMConGroup .bdBtn {
    top : 30px;
}

.liTogGroup.noticeSort {
    border-top : 1px solid #dedede;
    padding : 30px;
}
.liTogGroup.noticeSort .bdBtn {
    right : 30px;
}
.liMConGroup .qnaMark,
.liTogGroup .qnaMark {
    font-size : 20px;
    font-weight : 800;
    padding-right : 40px;
    vertical-align : middle;
}
.rightMainTitle.withQMark {
    width: calc(100% - 326px); 
}
.liTogGroup pre.withQMark {
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align : Top;
}
.liMConGroup .togIconBtn {
    position : absolute;
    top : 50%;
    transform : translateY(-50%);
    -webkit-transform : translateY(-50%);
    right : 40px;
    width : 12px;
    height : 24px;
    background : url('/sellPhone/common/img/arrow_down.png') no-repeat center / 12px 6px;
}


/* :: ksg_20200717_2156 close : 커뮤니티(공지사항) 페이지 파트 */


/* :: ksg_20200722_1706 open : 커뮤니티(이용후기상세) 페이지 파트 */
.commList.revSpecSort {
    padding-top : 30px;
}
.toggleListGroup.revSpSort {
    border-bottom : none;
}
.commentGroup.inListSort.revSpSort .commMainInfo {
    padding : 30px 0;
}

.commentGroup.inListSort.revSpSort .commMainInfo .commDivision {
    display : inline-block;
    background-color : #1d39b2;
    color : #fff;
    width : 67px;
    line-height : 34px;
    text-align : center;
    font-weight : 400;
}
.commentGroup.inListSort.revSpSort .commMainInfo .commInfoLiner {
    width : calc(100% - 85px);
    padding : 10px 0 10px 18px;
}
.btnGroup.toListSort {
    padding-top : 20px;
}
.btnGroup.toListSort .bgBtn {
    height: 50px;
    line-height: 50px;
    width: 180px;
    font-size: 18px;
}
/* :: ksg_20200722_1706 close : 커뮤니티(이용후기상세) 페이지 파트 */


/* :: ksg_20200723_1612 open : 아이디찾기 페이지 파트 */
.titleBox.findUserInfoSort {
    text-align : center;
    font-size: 28px;
    margin-bottom: 30px;
}
.findUserInfoSection {
    max-width : 460px;
    margin : 0 auto;
}
.tabBtnGroup.findUserInfo {
    text-align : center;
    border-bottom : 1px solid #efefef;
    margin-bottom : 15px;
}
.tabBtnGroup.findUserInfo .tOnlyBtn {
    display : inline-block;
    padding : 24px 27px;
    color : #a0a0a0;
    margin-left : 95px;
}
.tabBtnGroup.findUserInfo .tOnlyBtn:first-child {
    margin-left : 0;
}
.tabBtnGroup.findUserInfo .tOnlyBtn.activated {
    border-bottom : 1px solid #000;
    color : #000;
    font-weight : 800;
}
.regGroup.findUserInfoSort {
    margin-bottom : 60px;
}
.btnGroup.findBotSort {
    display : block;
}
.btnGroup.findBotSort .bgBtn {
    display : block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 18px;
}
.regGroup.findUserInfoSort .tBoxGroup {
    margin-top : 16px;
}
/* :: ksg_20200723_1612 close : 아이디찾기 페이지 파트 */